.navbar-subtitle {
    font-size: 0.9rem;
    font-weight: normal;
    color: #6c757d;
}

.icon-link {
    text-decoration: none;
    margin-right: .5rem;
    margin-top: .5rem;
}

.text-link {
    text-decoration: none;
    color: currentColor;
    border-bottom: 1px solid currentColor;
}

.text-link:hover {
    border-bottom: none;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
}

.custom-button {
    background-color: #1A5C71;
    color: white;
}

.resume-header {
    color: #1A5C71;
}

.eyebrow {
    margin-bottom: 0.5rem;
    color: #717E83;
}

.title {
    margin-top: 0;
    color: #1A5C71;
}

.subtitle {
    color: #703AA3E3;
}

.callout-box {
    background-color: #9B51E014;
    padding: 20px;
}

.carousel-control-prev-icon {
    width: 100px;
    transform: translateX(77%) translateY(50%);
  }

  .carousel-control-next-icon {
    width: 100px;
    transform: translateX(-77%) translateY(50%);
  }

  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }